<!DOCTYPE html>
<html>
    <head>
        <title>t4w.me - <%= title %></title>
	<link href='/assets/style.css' rel='stylesheet' />
	<meta charset="utf-8">
	<!--<script src="/assets/assholes.js" type="text/javascript"></script>-->
    </head>
    <body>
		<!-- Huuuuurr duuuuuur -->
		<header>
			<h1><%= header %></h1>
			<% if(subtitle) { %>
				<h3><%= subtitle %></h3>
			<% } %>
		</header>
		<% if(ctype === "home") { %>
			<nav>
				<% for (var i in links) { %>
					<a href="<%= links[i].link %>" title="<%= links[i].title %>"> <%= i %> </a>
				<% } %>
			</nav>
		<% } else if(ctype === "about") { %>
			<p>
				<%= description %>
			</p>
		<% } else if(ctype === "projects") { %>
			<nav>
				<% projects.forEach(function(project) { %>
					<a class="project" href="<%= project.link %>" title="<%= project.name %>"><%= project.name %></a>
				<% }) %>
			</nav>
		<% } else { %>
			You're failing...
		<% } %>
<!-- BEGIN JEWING CODE -->
<br/> <!-- huehuehue -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="width: 92px;">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="that4chanwolf@gmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="t4w's faggotry fund">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<!-- END JEWING CODE -->
		<img id='ears' src='/assets/img/ears.png' alt="horohorohoro" />
    </body>
</html>
