<!DOCTYPE html>
<html>
    <head>
        <title>t4w.me - <%= title %></title>
	<link href='/assets/style.css' rel='stylesheet' />
	<meta charset="utf-8">
	<script src="/assets/assholes.js" type="text/javascript"></script>
    </head>
    <body>
		<!-- Huuuuurr duuuuuur -->
		<header>
			<h1><%= header %></h1>
			<% if(subtitle) { %>
				<h3><%= subtitle %></h3>
			<% } %>
		</header>
		<% if(ctype === "home") { %>
			<nav>
				<% for (var i in links) { %>
					<a href="<%= links[i].link %>" title="<%= links[i].title %>"> <%= i %> </a>
				<% } %>
			</nav>
		<% } else if(ctype === "about") { %>
			<p>
				<%= description %>
			</p>
		<% } else if(ctype === "projects") { %>
			<nav>
				<% projects.forEach(function(project) { %>
					<a class="project" href="<%= project.link %>" title="<%= project.name %>"><%= project.name %></a>
				<% }) %>
			</nav>
		<% } else { %>
			You're failing...
		<% } %>
		<img id='ears' src='/assets/img/ears.png' alt="horohorohoro" />
    </body>
</html>
